target/
*.class

# Package Files #
*.jar
*.war
*.ear
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SOLR
spo/data

# Eclipse
.settings
.classpath
.project

# Work
work

# jar files
spo/lib/*.jar

# dataimporthandler
dataimport.properties
